.about-text {
    font-family: Helvetica;
    width: 100%;
    margin-bottom: 25px;
    font-size: 22px;
    color: var(--heading-large);
    transition: 1000ms;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .exNavbar {
        justify-content: left;
    }
}