@import "./root.css";

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica !important;
}

body {
    overflow: hidden;
    background-color: var(--body);
    transition: 1s;
    transition-timing-function: cubic-bezier(.93,.01,.12,1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans' !important;
}

p {
    font-family: 'Open Sans' !important;
}

li {
    text-decoration: none;
    list-style-type: none;
    float: left;
    padding-right: 25px;
}

a {
    text-decoration: none !important;
    font-family: Helvetica !important;
    font-weight: bold !important;
    transition-duration: 500ms;
    color: var(--a);
}

a:hover {
    color: var(--aHover) !important;
}

::selection {
    color: var(--selectionText);
    background-color: var(--selectionBg);
}

nav {
    width: 100%;
    min-height: 75px;
    top: 0;
    display: flex;
    align-items: center;
}

.navbar-left50 {
    width: 50%;
    padding-left: 50px;
    display: flex;
}

.navbar-right50{
    width: 50%;
    padding-right: 50px;
    display: flex;
    justify-content: end;
}

.navActive {
    color: var(--navActive) !important;
}

.navButton {
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    color: var(--navButtonText);
    background-color: var(--navButtonBg);
    transition-duration: 2000ms;
}

.navButton:hover {
    color: var(--navButtonHoverText);
    background-color: var(--navButtonHoverBg);
}

.exNavbar {
    height: 100%;
    display: flex;
}

.exNavbar-left {
    width: 50%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading-small {
    font-size: 15px;
    z-index: 3;
    color: var(--heading-small);
}

.heading-large {
    font-size: 75px !important;
    margin: -15px 0 0 -5px;
    z-index: 1;
    color: var(--heading-large);
}

.heading-medium {
    font-size: 15px;
    z-index: 2;
    color: var(--heading-medium);
}

.eljos {
    background-color: black;
    transition: 2s;
    border-radius: 8px;
}

.exNavbar-right {
    width: 50%;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.eljosLogo  {
    width: 300px;
    height: 300px;
    user-select: none;
    pointer-events: none;
}

.downBar {
    width: 100%;
    min-height: 125px;
}

.downBar-shortBio {
    padding-left: 50px;
    display: flex;
}

.shortBio {
    width: 75%;
}

.shortBio > p {
    margin-top: 10px;
    color: var(--shortBioP);
}

.b {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sideBar {
    min-width: 90px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--sideBar);
    transition: 1s;
}

.sideBar-LogoDiv {
    width: 100%;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideBar-Logo {
    width: 50px;
    height: 50px;
    transition: 1s;
}

.sideBar-Logo:hover {
    transform: scale(1.15);
}

.social {
    width: 100%;
    height: 100%;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.socialIcons {
    transition: .5s;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 500ms;
}

.socialIcons:hover {
    color: var(--socialIconsHover) !important;
    transform: rotateY(360deg);
}

.socialMedia {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialMedia > a {
    padding-top: 15px;
}

.mode {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.modeIcon {
    outline: 0;
    border: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: var(--modelIconText);
    background-color: var(--modelIconBg);
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburgerIcon {
    margin-top: 10px !important;
}

.bi-brightness-low-fill {
    font-size: 22px;
    margin-top: 2.5px;
    margin-left: 0.5px !important;
}

.bi-moon-stars-fill {
    font-size: 15px;
}

.exSideBar {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hamburger {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20px;
}

@media screen and (max-width: 600px) {
    .navbar-left50 {
        display: none;
    }

    .navbar-right50 {
        display: none;
    }

    .sideBar {
        display: none;
    }

    nav {
        min-height: 50px;
        padding: 0 15px;
    }

    .exNavbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .exNavbar-left {
        width: 75%;
        padding: 0;
    }

    .heading-small {
        text-align: center;
    }
    
    .heading-large {
        font-size: 50px !important;
        text-align: center;
        margin: 0;
    }
    
    .heading-medium {
        text-align: center;
        padding: 0;
        margin: 0 0 25px 0;
    }

    .eljosLogo {
        width: 200px;
        height: 200px;
    }

    .downBar-shortBio {
        flex-direction: row;
        padding: 0;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .downBar {
        width: 100%;
        min-height: 60px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .exNavbar-right {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .shortBio {
        width: auto;
    }

    .shortBio > h3 {
        color: var(--mobileShortBioH3);
        text-align: center;
        font-size: 10px;
    }
    
    .shortBio > p {
        margin-top: 5px;
        font-size: 10px;
        color: var(--mobileShortBioP);
        text-align: center;
    }
}

@media screen and (min-width: 600px) {
    .menuIcon {
        display: none;
    }
}

.sidepanel  {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--sidepanel);
    opacity: 0.95;
    overflow-x: hidden;
    transition: 1s;
    transition-timing-function: cubic-bezier(.81,0,.26,1);
}

.inSidepanel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    
.sidepanel a {
    padding: 10px 0;
    text-decoration: none;
    font-size: 25px;
    color: var(--sidepanelA);
    display: block;
    transition: 0.5s;
}

.sidepanel a:hover {
    color: var(--sidepanelAHover);
}

.sidepanel .closebtn {
    position: absolute;
    top: 2px;
    left: 12px;
    font-size: 36px;
    font-family: 'Roboto';
    font-weight: 100;
    color: var(--closeBtn);
}